<div>
    {% url 'public:index' as index_url %}
    <span>
        {% if request.path == index_url %}
        Home
        {% else %}
        <a href="{{ index_url }}">Home</a>
        {% endif %}
    </span>
    {% url 'public:about' as about_url %}
    <span>
        {% if request.path == about_url %}
        About
        {% else %}
        <a href="{{ about_url }}">About</a>
        {% endif %}
    </span>
    {% url 'public:contact' as contact_url %}
    <span>
        {% if request.path == contact_url %}
        Contact
        {% else %}
        <a href="{{ contact_url }}">Contact</a>
        {% endif %}
    </span>
    <span style="float:right">
        {% url 'accounts:profile' as profile_url %}
        {% url 'accounts:login' as login_url %}
        {% url 'accounts:logout' as logout_url %}
        {% if user.is_authenticated %}
            <span>
                {% if request.path == profile_url %}
                    {{ user.username }}'s profile
                {% else %}
                    <a href="{{ profile_url }}">
                        {{ user.username }}'s profile
                    </a>
                {% endif %}
            </span>
            <span>
                <a href="{{ logout_url }}">Logout</a>
            </span>
        {% else %}
            <span>
                <a href="{{ login_url }}">Login</a>
            </span>
        {% endif %}
    </span>
</div>